<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Book A Design Consultation</h2>
            <p class="cs-text">
                When you meet with a noblessa designer, you’ll receive a personalized consultation, a complimentary project estimate, and curated referrals to trusted contractors. Every kitchen, bath, and living space we create is uniquely designed to reflect your vision, expertly crafted to bring your dream home to life with unmatched elegance and precision.
            </p>
            <a href="/contact/" class="cs-button-nodeco-white">
                <span class="cs-hover-underline-white"> Live The Beautiful Life </span>
                <img src="../../assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
            </a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <img src="../../assets/images/collections/sentido/sentidoblacknoir.webp" alt="cabinets" width="1920" height="426" loading="lazy" decoding="async">
    </picture>
</section>