<!-- ============================================ -->
<!--               Newsletter CTA                 -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title sl-fade-in-down">Stay Inspired With Us</h2>
            <p class="cs-text sl-fade-in-down">
                Subscribe to our newsletter and receive exclusive updates on the latest luxury furniture collections, design inspiration, industry insights, and special offers delivered directly to your inbox.
            </p>
            <button class="cs-button-nodeco-white sl-fade-in-up" id="newsletter-cta-btn">
                <span class="cs-hover-underline-white"> Subscribe </span>
                <img src="../../assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
            </button>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <img src="../../assets/images/collections/spirit/spirit1.webp" alt="cabinets" width="1920" height="426" loading="lazy" decoding="async">
    </picture>
</section>