---
title: "Contact | Noblessa USA"
description: "Take your first step towards living the beautiful life with our cabinetry by contacting a Noblessa designer today."
permalink: "/contact/"
eleventyNavigation:
    key: Contact
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="{% getUrl '/assets/videos/showroomsfirstframe.webp' | resize({ width: 1920, height: 1080 }) | webp %}">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-2285">
        <div class="cs-container">
            <span class="cs-int-title sl-fade-in-right">Contact noblessa</span>
            <p class="cs-text sl-fade-in-right">
                Take the first step towards your dream home by reaching out to a noblessa designer.
            </p>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">home</a>
                <a href="/contact/" class="cs-link cs-active">contact</a>
            </div>
        </div>
        <!--Background Video-->
        <video class="cs-video" autoplay muted playsinline loop preload="metadata" poster="{% getUrl '/assets/videos/showroomsfirstframe.webp' | resize({ width: 1920, height: 1080 }) | webp %}" aria-hidden=true>
            <source src="/assets/videos/showrooms1080x1920.webm" type="video/webm">
        </video>
    </div>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact-265">
        <div class="cs-container">
            <div class="cs-left-section">
                <div class="cs-content">
                    <h1 class="cs-topper sl-fade-in-down">Contact Us</h1>
                    <h2 class="cs-title sl-fade-in-down">live the beautiful life</h2>
                    <span class="cs-divider"></span>
                    <p class="cs-text sl-fade-in-up">
                        Contact any of our US store locations to get answers to your questions about the process of working with noblessa, or get more information about our product catalog and exclusive noblessa features.
                    </p>
                </div>
                <form id="cs-form-265" name="Main Contact Form" method="POST" data-netlify="true" netlify-honeypot="select" data-netlify-recaptcha="true">
                    <label class="sl-fade-in-up">
                        Full Name*
                        <input required type="text" id="name-265" name="name" placeholder="Name">
                    </label>
                    <label class="sl-fade-in-up">
                        Email*
                        <input required type="text" id="email-265" name="email" placeholder="Email">
                    </label>
                    <label class="sl-fade-in-up">
                        Phone*
                        <input required type="text" id="phone-265" name="phone" placeholder="Phone">
                    </label>
                    <label class="sl-fade-in-up">
                        Zip/Postal Code* (US Only)
                        <input required type="text" id="zip-265" name="zip" placeholder="Zip/Postal Code">
                        <input class="cs-select" name="select" type="text" placeholder="Select">
                    </label>
                    <label class="cs-label-message sl-fade-in-up">
                        Message
                        <textarea required name="message" id="message-265" placeholder="Tell us about your project or questions..."></textarea>
                    </label>
                    <div data-netlify-recaptcha="true"></div>
                    <button class="cs-button-nodeco cs-submit sl-fade-in-up" type="submit">
                        <span class="cs-hover-underline">Submit Message</span>
                        <img src="../../assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                    </button>
                </form>
            </div>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{ client.email }}">{{ client.email }}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{ client.phoneForTel }}">{{ client.phoneFormatted }}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{ client.address.mapLink }}">
                    {{ client.address.lineOne }}, <br>
                    {{ client.address.lineTwo }}, <br>
                    {{ client.address.city }}, {{ client.address.state }}
                    {{ client.address.zip }}
                </a>
                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../../assets/images/goldenfaucet.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../../assets/images/goldenfaucet.webp">
                    <img decoding="async" src="../../assets/images/goldenfaucet.webp" alt="" width="1280" height="568" aria-hidden="true">
                </picture>
            </div>
        </div>
    </section>

{% endblock %}