---
title: "The Gran Cielo de Vina Robles | Noblessa USA"
description: "Nestled within the vineyards of Vina Robles Winery, the Gran Cielo de Vina Robles is the pinnacle of noblessa's commitment to creating exceptional living spaces that harmonize with their natural surroundings."
permalink: "/clients/gran-cielo/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/client.css">
    <link rel="preload" as="image" href="{% getUrl '/assets/videos/grand-cielo-firstframe.webp' | resize({ width: 1920, height: 1080 }) | webp %}">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-2285">
        <div class="cs-container">
            <div class="cs-text-wrapper">
                <h1 class="cs-int-title sl-fade-in-down">The Gran Cielo de Vina Robles</h1>
                <p class="cs-text sl-fade-in-down">
                    Nestled within the rolling vineyards of Vina Robles Winery, the Gran Cielo de Vina Robles is the pinnacle of noblessa's commitment to creating exceptional living spaces that harmonize with their natural surroundings.
                </p>
                <a href="https://liveatgrancielo.com/" target="_blank" rel="noopener" class="cs-button-nodeco sl-fade-in-down">
                    <span class="cs-hover-underline"> See More </span>
                    <img src="/assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                </a>
            </div>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">home</a>
                <a href="/clients/" class="cs-link">clients</a>
                <a href="/clients/gran-cielo/" class="cs-link cs-active">gran cielo de vina robles</a>
            </div>
        </div>
        <!--Background Video-->
        <video class="cs-video" autoplay muted playsinline loop preload="metadata" poster="{% getUrl '/assets/videos/grand-cielo-firstframe.webp' | resize({ width: 1920, height: 1080 }) | webp %}" aria-hidden=true>
            <source src="/assets/videos/gran-cielo-bgvid720.mp4" type="video/mp4">
        </video>
    </div>

     <!-- ============================================ -->
    <!--                 SBS Left                   -->
    <!-- ============================================ -->

    <section id="sbs-left">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Main Image-->
                <img class="cs-picture" src="/assets/images/gran-cielo/gran-cielo1.webp" alt="The Lazars">
            </div>
            <div class="cs-content">
                <span class="cs-topper sl-fade-in-down">Luxury Living, Elevated</span>
                <h2 class="cs-title sl-fade-in-down">Modern Elegance in Wine Country</h2>
                <span class="cs-divider"></span>
                <p class="cs-text sl-fade-in-left">
                    Nestled within the rolling vineyards of Gran Cielo de Vina Robles, noblessa brings modern European elegance to a thriving community in the heart of California’s wine country. Designed for a lifestyle that blends tranquil vineyard living with refined sophistication, each space reflects a careful balance of natural oak textures, sleek matte finishes, and timeless Noblessa craftsmanship.
                </p>
                <p class="cs-text sl-fade-in-left">
                    Located within 800 acres of stunning vineyards, Gran Cielo offers 42 custom home sites beside the Vina Robles Winery and Amphitheatre. With more than three hundred celebrated tasting rooms, artisan galleries, and open-air concerts nearby, this is where culture and comfort meet. Noblessa’s role in this project ensures each residence embodies European precision, timeless design, and California ease.
                </p>
                <a href="https://liveatgrancielo.com/" target="_blank" rel="noopener" class="cs-button-nodeco sl-fade-in-left">
                    <span class="cs-hover-underline"> See More of The Gran Cielo </span>
                    <img src="/assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                </a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                SBS Right                   -->
    <!-- ============================================ -->

    <section id="sbs-right" class="cs-dark-background">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Main Image-->
                <img class="cs-picture" src="/assets/images/gran-cielo/gran-cielo6.webp" alt="The Silva Project Kitchen">
            </div>
            <div class="cs-content">
                <span class="cs-topper sl-fade-in-down">Tranquil sophistication</span>
                <h2 class="cs-title sl-fade-in-down">A Lifestyle in Harmony</h2>
                <span class="cs-divider"></span>
                <p class="cs-text sl-fade-in-right">
                    Envisioned by noblessa ambassador Cherisse Sweeney, these designs are more than cabinetry — they're a statement of design philosophy. Each room celebrates the vineyard lifestyle: open, inviting, and timelessly elegant. Whether entertaining guests in the wine room, unwinding in a spa-inspired bath, or gathering in a sleek modern kitchen, every detail is designed to enhance the rhythm of life in Paso Robles wine country.
                </p>
                <a href="/ambassadors#cherissesweeney" target="_blank" rel="noopener" class="cs-button-nodeco sl-fade-in-right">
                    <span class="cs-hover-underline"> Contact Cherisse Sweeney </span>
                    <img src="/assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                </a>
            </div>
        </div>
    </section>

    {% include 'sections/cta.html' %}

{% endblock %}
