---
title: "The Gran Cielo de Vina Robles | Noblessa USA"
description: "Nestled within the vineyards of Vina Robles Winery, the Gran Cielo de Vina Robles is the pinnacle of noblessa's commitment to creating exceptional living spaces that harmonize with their natural surroundings."
permalink: "/clients/gran-cielo/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/client.css">
    <link rel="preload" as="image" href="{% getUrl '/assets/videos/grand-cielo-firstframe.webp' | resize({ width: 1920, height: 1080 }) | webp %}">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-2285">
        <div class="cs-container">
            <div class="cs-text-wrapper">
                <h1 class="cs-int-title sl-fade-in-down">The Gran Cielo de Vina Robles</h1>
                <p class="cs-text sl-fade-in-down">
                    Nestled within the vineyards of Vina Robles Winery, the Gran Cielo de Vina Robles is the pinnacle of noblessa's commitment to creating exceptional living spaces that harmonize with their natural surroundings.
                </p>
                <a href="https://liveatgrancielo.com/" target="_blank" rel="noopener" class="cs-button-nodeco sl-fade-in-down">
                    <span class="cs-hover-underline"> See More </span>
                    <img src="/assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                </a>
            </div>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">home</a>
                <a href="/clients/" class="cs-link">clients</a>
                <a href="/clients/gran-cielo/" class="cs-link cs-active">gran cielo de vina robles</a>
            </div>
        </div>
        <!--Background Video-->
        <video class="cs-video" autoplay muted playsinline loop preload="metadata" poster="{% getUrl '/assets/videos/grand-cielo-firstframe.webp' | resize({ width: 1920, height: 1080 }) | webp %}" aria-hidden=true>
            <source src="/assets/videos/gran-cielo-bgvid720.mp4" type="video/mp4">
        </video>
    </div>

    <!-- ============================================ -->
    <!--                 SBS Left                   -->
    <!-- ============================================ -->

    <section id="sbs-left">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Main Image-->
                <img class="cs-picture" src="/assets/images/lazar/lazarfamily.webp" alt="The Lazars">
            </div>
            <div class="cs-content">
                <span class="cs-topper sl-fade-in-down">European Elegance, California Soul</span>
                <h2 class="cs-title sl-fade-in-down">Meet Stephen & Michael</h2>
                <span class="cs-divider"></span>
                <p class="cs-text sl-fade-in-left">
                    Just outside of Los Angeles, interior designer Stephen Lazar and his lifelong partner and husband, Michael Grazer, welcome us into their home. He is here to show us his noblessa kitchen transformation and to share his insights on why he chose to design his custom kitchen with noblessa.
                </p>
                <p class="cs-text sl-fade-in-left">
                    The Lazar home’s freshly remodeled kitchen is inspired by the upscale formality of European-designed living spaces. This modern California kitchen integrates sharp, clean lines with elements that speak directly to the owner’s eclectic personal style. The result? A custom kitchen with character, a kitchen that represents Stephen & Michael in a physical form – uniquely sophisticated, with cosmopolitan appeal.
                </p>
            </div>
        </div>
    </section>

    {% include 'sections/cta.html' %}

{% endblock %}
